<!DOCTYPE html>
<html>
<head>
　<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/WeighterCommonCSS.css" type="text/css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>登録完了</title>
</head>
	<body>
		<nav>
		  <div class="nav-wrapper">
		    <div class="brand-logo center">Weighter</div>
	         	  </div>
		</nav>
		<div class="row center title-margin">
			<div class="col s12 m8 offset-m2 l6 offset-l3">
				<div class="card z-depth-2 grey lighten-4">
					<div class="card-content">
						<h5>ユーザ登録が終わりました。<br /><a href="/login/auth">ログインページ</a>からログインしてください。</h5>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>